body{
     min-height:600;
     margin:0px;
}
#topnav{
         height:70px;
		 background:pink;
		 padding-top:20px;
	}
	#topmenu{
	height:30px;
	text-align:center;
	}
	.menulink{
	display:inline;
	margin-left:30px;
	padding:10px;
	}
	.menulink a{
	color:black;
	font-weight:bold;
	font-size:16px;
	padding:10px;
	text-decoration:none;
	}
	.menulink a:hover{
	
	background:16A085;
	padding:10px;
	color:yellow;
	font-weight:bold;
	font-size:16px;
	}
	#active{
	background:16A085;
	padding:10px;
	color:blue;
	font-weight:bold;
	font-size:16px;
	border-radius:0px 0px 5px 5px;
	}
	
	#active a{
	color:white;
	text-decoration:none;
	}
	#logotext{
	color:green;
	font-size:25px;
	margin-left:10px;
	font-weight:bold;
	}
	
	#imageblock{
	height:180px;
	width:90%;
	margin:auto;
	}
	#lefttext{
	width:40%;
	margin:2%;
	float:left;
	}
	
	#rightimage{
	width:52%;
	padding:2%;
	float:left;
	}
	
	#rightimage img{
	width:80%;
	height:140px;
	margin-top:20px;
	}
	.clearblock{
	clear:both;
	}
	
	#infoblock{
	background:green;
	height:10px;
	padding:10px;
	padding-left:20%;
	margin-top:20px;
	color:#16A085;
	font-size:15PX;
	}
#leftblock{
	width:15%;
	margin-bottom:20px;
	float:left;
	height:140px;
	padding:30px;
	background:pink;
	}
	#rightblock{
	background:yellow;
	height:180px;
	padding:10px;
	padding-right:20%;
	margin-bottom:20px;
	color:#16A085;
	font-size:15PX;
	width:80%;
	}
	.inputbox{
		 height:27px;
		 width:200px;
			 
			 }
.success{
		 padding:10px; 
		 background:blue;
         color:white;
		 padding-left:15px;
		 padding-right:15px;
		 border-radius:7px;
		 border-radius:20px;
				  
			  }	
p{
	padding:10px;
	text-align:justify;
	
}
.myimage{
	width:14%;
	margin:1%;
	height:150px;
	border-radius:20px;
	
}			  
	
	