body{
	margin:0px;
}
#header{
	padding:60px;
	text-align:center;
	background:lightgreen;
}
.column{
	float:left;
	min-height:300px;
	padding:1%;
}
.sidea{
	width:23.5%;
	background:skyblue;
	min-height:300px;
}
.middle{
	width:47%;
	background:pink;
}

.footer{
	padding:80px;
	text-align:center;
	background:lightgrey;
}
.clearblock{
	clear:both;
}

