<html>
	<head>
		<title>angular revision</title>
		<link href="assets/css/bootstrap.css" rel="stylesheet">
		<script src="assets/js/angular.js"></script>
	</head>

<body ng-app="" ng-init=a=10;b=30;c=50;">
<div class="container">
    <div class="row">
	    <div class="col-sm-4">value of a</div>
		<div class="col-sm-8">{{a}}
		<input type="text" class="form-control" ng-model="a"> 
		</div>
		<div class="row">
	    <div class="col-sm-4">value of b</div>
		<div class="col-sm-8">{{b}}
		<input type="text" class="form-control" ng-model="b">
		</div>
		</div>
		<div class="row">
	    <div class="col-sm-4">value of c</div>
		<div class="col-sm-8">{{c}}
		<input type="text" class="form-control" ng-model="c">
		</div>
		</div>
		</div>
        
</body>

</html>