
<html>
	<head>
	<title>shared scope</title>
		<link href="assets/css/bootstrap.css" rel="stylesheet">
		<script src="assets/js/angular.js"></script>
		<script>
			var app=angular.module("mymodule",[]);
			app.controller("myctrl",function($scope){
			$scope.name="radha"
			$scope.reversename=function(){
				$scope.name=$scope.name.split('').reverse('').join('');
			}
			
			});
			app.directive("myDirective",function(){
				return{
				restrict:"EA",
				scope:false,
				template:"<h5>your name is {{name}}</h5>"+
				"change your name:<input type='text' ng-model='name'>"
				}
			});
		</script>
	</head>
	<body ng-app="mymodule">
	<div ng-controller="myctrl">
		<h3 ng-click="reversename()">
		click the name coming from controller to reverse it:::{{name}}
		</h3>
		<div my-directive></div>
	</div>
	</body>
</html>